html {
	width: 100%;
	height: 100%;
	background-color: #fff;
}
	html body {
		width: 100%;
		height: 100%;
		background-color: transparent;
		font-family: 'Calibri';
		font-size: 21px;
	}
		html body header {
			display: block;
			width: 640px;
			padding: 0;
			margin: 32px auto 16px auto;
			overflow: hidden;
		}
			html body header img {
				float: left;
				margin: 0 64px 32px 0;
			}
			html body header ul {
				margin: 0;
			}
		html body nav {
			display: block;
			width: 640px;
			padding: 0;
			margin: 16px auto;
		}
			html body nav a {
				margin: 0 8px;
				font-size: 16px;
			}
		html body main {
			display: block;
			width: 640px;
			padding: 0;
			margin: 16px auto;
		}
			html body main h1, html body main h2 {
				font-weight: normal;
			}
		html body footer {
			display: block;
			width: 640px;
			padding: 0;
			margin: 16px auto 32px auto;
		}
			html body footer img {
				width: 128px;
			}
