@import url('https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@700&family=Red+Hat+Text:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&display=swap');
html {
	height: 100%;
	background-color: #fff;
}
	html body {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%
		background-color: transparent;
	}
		html body header {
			display: block;
			width: 100%;
			height: 765px;
			background-image: url('../images/garrett-parker-DlkF4-dbCOU-unsplash 1.jpg');
			background-size: cover;
			background-repeat: no-repeat;
		}
			html body header section#bar {
				display: block;
				width: 100%;
				height: 90px;
				background-color: rgba(242, 120, 92, 70%);
				-webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
				-moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
				box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);					
			}
				html body header section#bar nav {
					display: block;
					width: 1440px;
					height: 90px;
					margin: 0 auto;
					position: relative;
				}
					html body header section#bar nav a#logo {
						display: block;
						position: absolute;
						top: 25px;
						left: 120px;
						width: 216px;
						height: 31px;
						overflow: hidden;
					}
						html body header section#bar nav a#logo img {
							width: 30px;
							height: 30px;
							float: left;
							margin-right: 6px;
						}
						html body header section#bar nav a#logo span {
							font-family: 'Magra', sans-serif;
							font-size: 32px;
							color: #fff;
						}
					html body header section#bar nav ul {
						margin: 0;
						padding: 0;
						list-style-type: none;
						position: absolute;
						top: 35px;
						left: 494px;
						overflow: hidden;
					}
						html body header section#bar nav ul li {
							float: left;
							margin: 0 0 0 42px;
						}
						html body header section#bar nav ul li:first-child {
							margin: 0;
						}
							html body header section#bar nav ul li a {
								font-family: 'Red Hat Text', sans-serif;
								color: #fff;
								font-size: 16px;
								text-decoration: none;
							}
					html body header section#bar nav button#login {
						position: absolute;
						left: 1217px;
						top: 25px;
						width: 103px;
						height: 41px;
						border-radius: 10px;
						border: 0;
						background-color: #0D606F;
						color: #fff;
						font-family: 'Red Hat Text', sans-serif;
						font-size: 16px;
						font-weight: bold;
						-webkit-box-shadow: 0 3px 2px 0 rgba(13, 96, 111, 0.16);
						-moz-box-shadow: 0 3px 2px 0 rgba(13, 96, 111, 0.16);
						box-shadow: 0 3px 2px 0 rgba(13, 96, 111, 0.16);					

					}
			html body header section#preview {
				display: block;
				width: 1440px;
				height: 675px;
				margin: 0 auto;
				position: relative;
			}
				html body header section#preview div {
					position: relative;
					top: 32px;
					left: 120px;
					width:  892px;
					height: 422px;
				}
					html body header section#preview div h1 {
						position: absolute;
						top: 32px;
						margin: 0;
						display: inline;
						font-size: 80px;
						color: #fff;
						font-family: 'Aleo', serif;
					}
					html body header section#preview div p {
						position: absolute;
						top: 256px;
						margin: 0;
						font-size: 20px;
						color: #fff;
						font-family: 'Aleo', serif;
						font-style: italic;
					}
					html body header section#preview div form {
						position: absolute;
						top: 326px;
						display: block;
						width: 892px;
						height: 95px;
						border: 0;
						border-radius: 16px;
						background-color: rgba(255, 255, 255, 70%);
					}
						html body header section#preview div form input#query {
							margin: 36px 40px;
							width: 560px;
							height: 22px;
							border: 0;
							background-color: transparent;
							font-family: 'Aleo', serif;
							font-size: 24px;
							font-style: italic;
							color: #F2785C;
							outline: none;
						}
						html body header section#preview div form button#search {
							width: 228px;
							height: 59px;
							border-radius: 10px;
							border: 0;
							background-color: #0D606F;
							color: #fff;
							font-family: 'Red Hat Text', sans-serif;
							font-size: 24px;
							font-weight: bold;
						}
