@import url('https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap');
html {
	height: 100%;
	background-color: #fff;
}
	html body {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%
		background-color: transparent;
	}
		html body header {
			display: block;
			width: 100%;
			height: 765px;
			background-image: url('../images/garrett-parker-DlkF4-dbCOU-unsplash 1.jpg');
			background-size: cover;
			background-repeat: no-repeat;
		}
			html body header section#bar {
				display: block;
				width: 100%;
				height: 90px;
				background-color: rgba(242, 120, 92, 70%);
			}
				html body header section#bar nav {
					display: block;
					width: 1440px;
					height: 90px;
					margin: 0 auto;
					position: relative;
				}
					html body header section#bar nav a#logo {
						display: block;
						position: absolute;
						top: 25px;
						left: 120px;
						width: 216px;
						height: 31px;
						overflow: hidden;
					}
						html body header section#bar nav a#logo img {
							width: 30px;
							height: 30px;
							float: left;
							margin-right: 6px;
						}
						html body header section#bar nav a#logo span {
							font-family: 'Magra', sans-serif;
							font-size: 32px;
							color: #fff;
						}
					html body header section#bar nav ul {
						margin: 0;
						padding: 0;
						list-style-type: none;

					}